:root{
    color-scheme: dark;
}
*{
    margin: 0;
    padding: 0;
}
.board ,.level{
    display: flex;
    margin: auto;
    height: 70vh;
    flex-wrap: wrap;
    align-content: center;
    width: 605px;
}
.integralPart{
    width: 180px;
    height: 180px;
    display: flex;
    flex-wrap: wrap;
    border: 1px rgb(251, 255, 0) solid;
}
.smallPart{
    width: 58px;
    height: 58px;
    border: 0.5px white solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}
.clicked,
.clickedButton{
    background: radial-gradient(blue,yellow);
}
#numberBoard{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row-reverse;
    margin-bottom: 50px;

}
.number{
    border: 1px white solid;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    font-size: 30px;
}
.fixed{
    user-select: none;
}
#title{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
}
#tutorial{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    transition: transform 600ms;
    user-select: none;
}
#tutorial:hover{
    color: orange;
    transform: scale(1.05);
}
.correct{
    background: radial-gradient(green,yellow) !important;
}
.wrong{
    background: radial-gradient(red,purple) !important;

}
#del{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
#nextLevel{
    display: flex;
    justify-content: center;
}
#nextLevel button{
    margin-bottom: 20px;
    width: 100px;
    padding: 10px;
    border: 0px;
    background: linear-gradient(45deg,red,green,blue);
    display: none;
}
#levelCounter{
    font-size: 20px;
    color: orange;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0px 0px -10px 0px;
}
#columnLocation{
    display: flex;
    justify-content: center;
}
#columnLocation div{ 
    margin: 10px 1.5px 0px 0px;
    width: 58px;
    height: 58px;
    border: 0.5px black solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px; 
    background-color: yellowgreen;
    color: black;
}
#rowInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
#rowInfo div{
    align-self: center;
    margin: 1px 0px 0px 0px;
    width: 58px;
    height: 58px;
    border: 0.5px black solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px; 
    background-color: rgb(50, 99, 205);
    color: cornsilk;
    
}
#rowPlusBoard{
    display: inline-flex;
}
#outLine{
    display: flex;
    justify-content: center;
}
#button{
    transition: transform 200ms;
}
#button:hover{
    transform: scale(1.1);
    background: linear-gradient(45deg,orange,pink,purple);
    color: black;
}
.invisible{
    display: none;
}
footer{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    height: 90vh;
    font-size: 60px;
    text-align: center;
    vertical-align: middle;
    display: none;
}
nav a{
    text-decoration: none;
    color: rgb(11, 119, 214);
}
nav a:hover{
    color: rgb(11, 214, 45);
}
nav a:active{
    color: blueviolet;
}
